[
    EntityData(
        marker: SimpleMarker(0),
        components: (None),
    ),// [0]
    EntityData(
        marker: SimpleMarker(1),
        components: (None),
    ),
][
    EntityData(
        marker: SimpleMarker(0),
        components: (None),
    ),// [0]
    EntityData(
        marker: SimpleMarker(1),
        components: (None),
    ),
][
    EntityData(
        marker: SimpleMarker(0),
        components: (Some(TransformComponent(global_position:Vector3(x:0,y:0,z:0.25),rotation:Matrix4(x:Vector4(x:1,y:0,z:0,w:0),y:Vector4(x:0,y:1,z:0,w:0),z:Vector4(x:0,y:0,z:1,w:0),w:Vector4(x:0,y:0,z:0,w:1)),scale:0.2))),
    ),// [0]
    EntityData(
        marker: SimpleMarker(1),
        components: (None),
    ),
][
    EntityData(
        marker: SimpleMarker(0),
        components: (None),
    ),// [0]
    EntityData(
        marker: SimpleMarker(1),
        components: (None),
    ),
][
    EntityData(
        marker: SimpleMarker(0),
        components: (None),
    ),// [0]
    EntityData(
        marker: SimpleMarker(1),
        components: (Some(DebugUiComponent(show_profiler:false,terrain_wireframe:false))),
    ),
][
    EntityData(
        marker: SimpleMarker(0),
        components: (Some(RenderableComponent(initialized:true))),
    ),// [0]
    EntityData(
        marker: SimpleMarker(1),
        components: (None),
    ),
][
    EntityData(
        marker: SimpleMarker(0),
        components: (None),
    ),// [0]
    EntityData(
        marker: SimpleMarker(1),
        components: (None),
    ),
][
    EntityData(
        marker: SimpleMarker(0),
        components: (None),
    ),// [0]
    EntityData(
        marker: SimpleMarker(1),
        components: (None),
    ),
][
    EntityData(
        marker: SimpleMarker(0),
        components: (None),
    ),// [0]
    EntityData(
        marker: SimpleMarker(1),
        components: (None),
    ),
][
    EntityData(
        marker: SimpleMarker(0),
        components: (None),
    ),// [0]
    EntityData(
        marker: SimpleMarker(1),
        components: (None),
    ),
][
    EntityData(
        marker: SimpleMarker(0),
        components: (Some(GeometryComponent(vertices:[Vertex(position:(-0.5,0.5,-0.5)),Vertex(position:(0.5,0.5,-0.5)),Vertex(position:(-0.5,-0.5,-0.5)),Vertex(position:(0.5,-0.5,-0.5)),Vertex(position:(-0.5,0.5,0.5)),Vertex(position:(0.5,0.5,0.5)),Vertex(position:(-0.5,-0.5,0.5)),Vertex(position:(0.5,-0.5,0.5))],indices:[4,5,7,6,4,7,3,2,7,2,6,7,7,5,1,3,7,1,5,4,0,1,5,0,4,6,2,0,4,2,2,3,0,1,2,0],initialized:true,geometry_type:Box))),
    ),// [0]
    EntityData(
        marker: SimpleMarker(1),
        components: (None),
    ),
]